In [1]:
import pickle

with open('./data.pkl', 'rb') as file:
    data = pickle.load(file)
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff
0,187,37,IN,500/1000,1000,1412.06,5000000,450947,0,Masters,...,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,8613,15
1,243,44,IL,250/500,500,809.11,0,600208,1,JD,...,51400,5140,10280,35980,Honda,Civic,1996,0.0,2908,26
2,24,33,IL,500/1000,1000,1922.84,0,431277,0,High School,...,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,2202,23
3,215,42,OH,500/1000,500,1848.81,0,435489,1,JD,...,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,6868,36
4,85,30,OH,100/300,1000,796.35,0,614166,0,MD,...,58960,5360,10720,42880,Ford,F150,2004,0.0,4353,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,IL,500/1000,2000,1318.24,9000000,601748,0,College,...,4700,940,470,3290,Dodge,Neon,2002,NaN,3506,29
996,297,47,IN,250/500,500,1616.65,7000000,456363,1,MD,...,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,15
997,251,39,IN,500/1000,2000,1231.98,0,612908,0,Associate,...,44240,5530,5530,33180,Dodge,RAM,1997,NaN,3378,7
998,54,35,IN,100/300,500,1261.28,0,453265,0,MD,...,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,55
999,155,34,IN,100/300,500,1706.79,0,462479,1,Masters,...,77040,8560,8560,59920,Honda,Civic,1998,NaN,262,6

In [4]:
# 训练集、测试集切分
train = data[data['fraud_reported'].notnull()]
test = data[data['fraud_reported'].isnull()]
test

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff
700,479,60,IL,500/1000,1000,1188.45,0,459295,0,MD,...,53900,5390,10780,37730,Saab,95,2006,NaN,4707,17
701,167,36,IL,100/300,1000,949.44,0,448603,0,Masters,...,69680,8710,8710,52260,Mercedes,ML350,2008,NaN,1487,18
702,148,36,IL,500/1000,1000,1236.32,5000000,616929,0,MD,...,61050,5550,11100,44400,Dodge,Neon,2009,NaN,2187,9
703,69,24,IN,500/1000,500,1418.50,0,614948,0,High School,...,63300,12660,6330,44310,Dodge,RAM,2012,NaN,893,34
704,236,39,IN,250/500,1000,1151.39,4000000,604555,0,Masters,...,8700,870,1740,6090,Accura,RSX,2003,NaN,2491,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,IL,500/1000,2000,1318.24,9000000,601748,0,College,...,4700,940,470,3290,Dodge,Neon,2002,NaN,3506,29
996,297,47,IN,250/500,500,1616.65,7000000,456363,1,MD,...,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,15
997,251,39,IN,500/1000,2000,1231.98,0,612908,0,Associate,...,44240,5530,5530,33180,Dodge,RAM,1997,NaN,3378,7
998,54,35,IN,100/300,500,1261.28,0,453265,0,MD,...,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,55
999,155,34,IN,100/300,500,1706.79,0,462479,1,Masters,...,77040,8560,8560,59920,Honda,Civic,1998,NaN,262,6

In [16]:
from autogluon.tabular import TabularPredictor

# 创建AutoML模型
model = TabularPredictor(label="fraud_reported", path="model")

# 可以指定训练时长
#model.fit(train, time_limit=300)
#model = TabularPredictor(label, eval_metric=metric, path=save_path).
model.fit(train, presets='best_quality')

# 查看Leaderboard
model.leaderboard()

Warning: path already exists! This predictor may overwrite an existing predictor! path="model"

NameError: name 'modelfit' is not defined

In [14]:
# AutoML预测
y_pred = model.predict_proba(test)
y_pred = y_pred.loc[:,1]
y_pred

700    0.110804
701    0.534496
702    0.060909
703    0.061453
704    0.048388
         ...
995    0.042672
996    0.038912
997    0.067695
998    0.045691
999    0.069061
Name: 1, Length: 300, dtype: float64

In [15]:
import pandas as pd

result = pd.read_csv('./sampleSubmission.csv')
result['fraud_reported'] = y_pred.values
result.to_csv("./baseline_automl1.csv", index=False)
result

     policy_number  fraud_reported
0           698589        0.110804
1           287489        0.534496
2           211578        0.060909
3           807369        0.061453
4           830878        0.048388
..             ...             ...
295         679370        0.042672
296         272330        0.038912
297         315631        0.067695
298         445195        0.045691
299         914815        0.069061

[300 rows x 2 columns]