In [ ]:
# 1) 通过predict, Score = 0.78
# 2) 通过predict_proba, Score = 0.87178
# 3) XGBoost, Score =

In [2]:
import pandas as pd

# 数据加载
train = pd.read_csv('./train.csv')
train

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,199,37,982871,1997-07-27,IN,250/500,500,1262.08,0,474615,...,NO,60170,10940,10940,38290,Nissan,Pathfinder,2011,1,NaN
696,232,43,751905,2001-05-16,OH,250/500,500,1483.91,8000000,431531,...,?,70600,7060,14120,49420,Volkswagen,Passat,2013,1,NaN
697,215,37,761189,2002-12-28,IN,100/300,500,1632.93,0,614417,...,YES,57120,9520,4760,42840,Mercedes,C300,2002,0,NaN
698,270,44,701521,2003-07-05,IL,500/1000,2000,1030.95,0,435985,...,NO,35900,7180,3590,25130,Audi,A3,2007,1,NaN
699,269,45,596298,1996-08-23,IN,500/1000,500,1330.46,0,435552,...,NO,24200,2200,4400,17600,Suburu,Forrestor,2008,0,NaN

In [3]:
test = pd.read_csv('./test.csv')
test

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,_c39
0,479,60,698589,2002-11-28,IL,500/1000,1000,1188.45,0,459295,...,3,?,53900,5390,10780,37730,Saab,95,2006,NaN
1,167,36,287489,1994-02-03,IL,100/300,1000,949.44,0,448603,...,0,NO,69680,8710,8710,52260,Mercedes,ML350,2008,NaN
2,148,36,211578,1996-01-04,IL,500/1000,1000,1236.32,5000000,616929,...,0,NO,61050,5550,11100,44400,Dodge,Neon,2009,NaN
3,69,24,807369,1992-06-19,IN,500/1000,500,1418.50,0,614948,...,0,NO,63300,12660,6330,44310,Dodge,RAM,2012,NaN
4,236,39,830878,1996-11-03,IN,250/500,1000,1151.39,4000000,604555,...,0,?,8700,870,1740,6090,Accura,RSX,2003,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
296,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
297,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
298,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
299,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [4]:
# 合并train, test
data = pd.concat([train, test], axis=0)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,YES,4700,940,470,3290,Dodge,Neon,2002,NaN,NaN
296,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,NaN
297,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN,NaN
298,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,NaN
299,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN,NaN

In [5]:
data.index = range(len(data))
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,YES,4700,940,470,3290,Dodge,Neon,2002,NaN,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN,NaN

In [6]:
## 数据探索
data.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                  300
_c39                           1000
dtype: int64

In [7]:
# 唯一值个数
for col in data.columns:
    print(col, data[col].nunique())

months_as_customer 391
age 46
policy_number 1000
policy_bind_date 951
policy_state 3
policy_csl 3
policy_deductable 3
policy_annual_premium 991
umbrella_limit 11
insured_zip 995
insured_sex 2
insured_education_level 7
insured_occupation 14
insured_hobbies 20
insured_relationship 6
capital-gains 338
capital-loss 354
incident_date 60
incident_type 4
collision_type 4
incident_severity 4
authorities_contacted 5
incident_state 7
incident_city 7
incident_location 1000
incident_hour_of_the_day 24
number_of_vehicles_involved 4
property_damage 3
bodily_injuries 3
witnesses 4
police_report_available 3
total_claim_amount 763
injury_claim 638
property_claim 626
vehicle_claim 726
auto_make 14
auto_model 39
auto_year 21
fraud_reported 2
_c39 0

In [8]:
# 去掉没用的字段
data.drop('_c39', axis=1, inplace=True)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,3,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,1,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,1,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,2,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,1,YES,58960,5360,10720,42880,Ford,F150,2004,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [11]:
cat_columns = data.select_dtypes(include='O').columns
cat_columns

Index(['policy_bind_date', 'policy_state', 'policy_csl', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'incident_date', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'incident_state', 'incident_city', 'incident_location',
       'property_damage', 'police_report_available', 'auto_make',
       'auto_model'],
      dtype='object')

In [14]:
column_name = []
unique_value = []
for col in cat_columns:
    #print(col, data[col].nunique())
    column_name.append(col)
    unique_value.append(data[col].nunique())

df = pd.DataFrame()
df['col_name'] = column_name
df['value'] = unique_value
df = df.sort_values('value', ascending=False)
df

                   col_name  value
15        incident_location   1000
0          policy_bind_date    951
8             incident_date     60
19               auto_model     39
6           insured_hobbies     20
5        insured_occupation     14
18                auto_make     14
4   insured_education_level      7
13           incident_state      7
14            incident_city      7
7      insured_relationship      6
12    authorities_contacted      5
9             incident_type      4
11        incident_severity      4
10           collision_type      4
1              policy_state      3
2                policy_csl      3
16          property_damage      3
17  police_report_available      3
3               insured_sex      2

In [15]:
data[cat_columns]

,policy_bind_date,policy_state,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,property_damage,police_report_available,auto_make,auto_model
0,2013-08-08,IN,500/1000,FEMALE,Masters,protective-serv,reading,not-in-family,2015-01-16,Single Vehicle Collision,Side Collision,Total Loss,Ambulance,NC,Riverwood,7082 Oak Ridge,?,?,Nissan,Maxima
1,1997-12-25,IL,250/500,MALE,JD,craft-repair,polo,other-relative,2015-01-27,Multi-vehicle Collision,Side Collision,Minor Damage,Other,NC,Springfield,9352 Washington Ave,?,YES,Honda,Civic
2,1996-01-19,IL,500/1000,FEMALE,High School,machine-op-inspct,skydiving,wife,2015-01-24,Single Vehicle Collision,Side Collision,Total Loss,Police,WV,Northbend,5061 Francis Ave,?,NO,Jeep,Wrangler
3,2008-10-28,OH,500/1000,MALE,JD,transport-moving,video-games,own-child,2015-02-06,Multi-vehicle Collision,Front Collision,Major Damage,Fire,WV,Northbend,2457 Washington Ave,YES,YES,Suburu,Legacy
4,2001-12-09,OH,100/300,FEMALE,MD,craft-repair,video-games,own-child,2015-02-20,Multi-vehicle Collision,Rear Collision,Total Loss,Fire,SC,Northbend,2290 4th Ave,YES,YES,Ford,F150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1999-08-15,IL,500/1000,FEMALE,College,prof-specialty,kayaking,not-in-family,2015-01-30,Parked Car,?,Trivial Damage,None,WV,Arlington,5540 Sky St,NO,YES,Dodge,Neon
996,2009-11-29,IN,250/500,MALE,MD,adm-clerical,movies,unmarried,2015-01-16,Multi-vehicle Collision,Side Collision,Total Loss,Fire,WV,Columbus,1087 Flute Drive,?,YES,Jeep,Grand Cherokee
997,1999-04-09,IN,500/1000,FEMALE,Associate,other-service,hiking,not-in-family,2015-01-08,Single Vehicle Collision,Rear Collision,Minor Damage,Police,NY,Hillsdale,1381 Francis Ave,YES,?,Dodge,RAM
998,2010-09-27,IN,100/300,FEMALE,MD,protective-serv,hiking,unmarried,2015-02-25,Multi-vehicle Collision,Side Collision,Minor Damage,Fire,VA,Springfield,5028 Maple Ridge,YES,?,Nissan,Maxima
999,1990-09-27,IN,100/300,MALE,Masters,protective-serv,dancing,other-relative,2015-01-07,Single Vehicle Collision,Front Collision,Minor Damage,Ambulance,OH,Hillsdale,9706 MLK Lane,NO,YES,Honda,Civic

## 对包含 ？ 的字段进行处理

In [19]:
# 单独看某个字段
data['property_damage'].value_counts()
data['property_damage'] = data['property_damage'].map({'NO': 0, 'YES': 1, '?': 2})
data['property_damage'].value_counts()

2    360
0    338
1    302
Name: property_damage, dtype: int64

In [21]:
data['police_report_available'].value_counts()
data['police_report_available'] = data['police_report_available'].map({'NO': 0, 'YES': 1, '?': 2})
data['police_report_available'].value_counts()

2    343
0    343
1    314
Name: police_report_available, dtype: int64

## 对日期特征进行处理

In [27]:
# policy_bind_date, incident_date
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])
data['incident_date'] = pd.to_datetime(data['incident_date'])

# 查看最大日期，最小日期
data['policy_bind_date'].min() # 1990-01-08
data['policy_bind_date'].max() # 2015-02-22

data['incident_date'].min() # 2015-01-01
data['incident_date'].max() # 2015-03-01

Timestamp('2015-03-01 00:00:00')

In [28]:
base_date = data['policy_bind_date'].min()
# 转换为date_diff
data['policy_bind_date_diff'] = (data['policy_bind_date'] - base_date).dt.days

In [29]:
data['incident_date_diff'] = (data['incident_date'] - base_date).dt.days
data['incident_date_policy_bind_date_diff'] = data['incident_date_diff'] - data['policy_bind_date_diff']
data[['policy_bind_date', 'incident_date', 'policy_bind_date_diff', 'incident_date_diff', 'incident_date_policy_bind_date_diff']]

,policy_bind_date,incident_date,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff
0,2013-08-08,2015-01-16,8613,9139,526
1,1997-12-25,2015-01-27,2908,9150,6242
2,1996-01-19,2015-01-24,2202,9147,6945
3,2008-10-28,2015-02-06,6868,9160,2292
4,2001-12-09,2015-02-20,4353,9174,4821
...,...,...,...,...,...
995,1999-08-15,2015-01-30,3506,9153,5647
996,2009-11-29,2015-01-16,7265,9139,1874
997,1999-04-09,2015-01-08,3378,9131,5753
998,2010-09-27,2015-02-25,7567,9179,1612
999,1990-09-27,2015-01-07,262,9130,8868

In [30]:
# 去掉原始日期字段 policy_bind_date	incident_date
data.drop(['policy_bind_date', 'incident_date'], axis=1, inplace=True)
data

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff
0,187,37,125591,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,...,5770,5770,46160,Nissan,Maxima,2000,0.0,8613,9139,526
1,243,44,967713,IL,250/500,500,809.11,0,600208,MALE,...,5140,10280,35980,Honda,Civic,1996,0.0,2908,9150,6242
2,24,33,649082,IL,500/1000,1000,1922.84,0,431277,FEMALE,...,4680,9360,32760,Jeep,Wrangler,2002,0.0,2202,9147,6945
3,215,42,519312,OH,500/1000,500,1848.81,0,435489,MALE,...,11420,5710,51390,Suburu,Legacy,2003,1.0,6868,9160,2292
4,85,30,190588,OH,100/300,1000,796.35,0,614166,FEMALE,...,5360,10720,42880,Ford,F150,2004,0.0,4353,9174,4821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,...,940,470,3290,Dodge,Neon,2002,NaN,3506,9153,5647
996,297,47,272330,IN,250/500,500,1616.65,7000000,456363,MALE,...,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139,1874
997,251,39,315631,IN,500/1000,2000,1231.98,0,612908,FEMALE,...,5530,5530,33180,Dodge,RAM,1997,NaN,3378,9131,5753
998,54,35,445195,IN,100/300,500,1261.28,0,453265,FEMALE,...,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,9179,1612
999,155,34,914815,IN,100/300,500,1706.79,0,462479,MALE,...,8560,8560,59920,Honda,Civic,1998,NaN,262,9130,8868

In [32]:
#data['policy_number'].value_counts()
data.drop(['policy_number'], axis=1, inplace=True)
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff
0,187,37,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,Masters,...,5770,5770,46160,Nissan,Maxima,2000,0.0,8613,9139,526
1,243,44,IL,250/500,500,809.11,0,600208,MALE,JD,...,5140,10280,35980,Honda,Civic,1996,0.0,2908,9150,6242
2,24,33,IL,500/1000,1000,1922.84,0,431277,FEMALE,High School,...,4680,9360,32760,Jeep,Wrangler,2002,0.0,2202,9147,6945
3,215,42,OH,500/1000,500,1848.81,0,435489,MALE,JD,...,11420,5710,51390,Suburu,Legacy,2003,1.0,6868,9160,2292
4,85,30,OH,100/300,1000,796.35,0,614166,FEMALE,MD,...,5360,10720,42880,Ford,F150,2004,0.0,4353,9174,4821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,College,...,940,470,3290,Dodge,Neon,2002,NaN,3506,9153,5647
996,297,47,IN,250/500,500,1616.65,7000000,456363,MALE,MD,...,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139,1874
997,251,39,IN,500/1000,2000,1231.98,0,612908,FEMALE,Associate,...,5530,5530,33180,Dodge,RAM,1997,NaN,3378,9131,5753
998,54,35,IN,100/300,500,1261.28,0,453265,FEMALE,MD,...,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,9179,1612
999,155,34,IN,100/300,500,1706.79,0,462479,MALE,Masters,...,8560,8560,59920,Honda,Civic,1998,NaN,262,9130,8868

In [36]:
## 标签编码
from sklearn.preprocessing import LabelEncoder
cat_columns = data.select_dtypes(include='O').columns
for col in cat_columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
data[cat_columns]

,policy_state,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,auto_make,auto_model
0,1,2,0,5,10,15,1,2,3,2,0,0,5,680,9,26
1,0,1,1,3,2,14,2,0,3,1,3,0,6,935,6,10
2,0,2,0,2,6,16,5,2,3,2,4,6,3,456,7,36
3,2,2,1,3,13,18,3,0,1,0,1,6,3,157,11,21
4,2,0,0,4,2,18,3,0,2,2,1,4,3,141,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,2,0,1,9,11,1,1,0,3,2,6,0,503,4,27
996,1,1,1,4,0,12,4,0,3,2,1,6,1,3,7,17
997,1,2,0,0,7,10,1,2,2,1,4,1,2,40,4,30
998,1,0,0,4,10,10,4,0,3,1,1,5,6,452,9,26
999,1,0,1,5,10,7,2,2,1,1,0,2,2,966,6,10

In [38]:
# 数据集切分
train = data[data['fraud_reported'].notnull()]
test = data[data['fraud_reported'].isnull()]

In [47]:
import lightgbm as lgb
model_lgb = lgb.LGBMClassifier(
            num_leaves=2**5-1, reg_alpha=0.25, reg_lambda=0.25, objective='binary',
            max_depth=-1, learning_rate=0.005, min_child_samples=3, random_state=2022,
            n_estimators=2000, subsample=1, colsample_bytree=1,
        )
# 模型训练
model_lgb.fit(train.drop(['fraud_reported'], axis=1), train['fraud_reported'])
# AUC评测： 以proba进行提交，结果会更好
y_pred = model_lgb.predict_proba(test.drop(['fraud_reported'], axis=1))
y_pred

array([[0.98034097, 0.01965903],
       [0.22904106, 0.77095894],
       [0.99561602, 0.00438398],
       [0.95443255, 0.04556745],
       [0.98747498, 0.01252502],
       [0.97450672, 0.02549328],
       [0.99000519, 0.00999481],
       [0.99481999, 0.00518001],
       [0.99785076, 0.00214924],
       [0.99209402, 0.00790598],
       [0.9791987 , 0.0208013 ],
       [0.99131669, 0.00868331],
       [0.55143857, 0.44856143],
       [0.99731374, 0.00268626],
       [0.99020991, 0.00979009],
       [0.23782712, 0.76217288],
       [0.98678913, 0.01321087],
       [0.97259865, 0.02740135],
       [0.0433423 , 0.9566577 ],
       [0.99139585, 0.00860415],
       [0.99013539, 0.00986461],
       [0.9367491 , 0.0632509 ],
       [0.10040324, 0.89959676],
       [0.98681723, 0.01318277],
       [0.97873131, 0.02126869],
       [0.08357818, 0.91642182],
       [0.99472665, 0.00527335],
       [0.98906354, 0.01093646],
       [0.83177103, 0.16822897],
       [0.98668255, 0.01331745],
       [0.08623878, 0.91376122],
       [0.99571054, 0.00428946],
       [0.66018632, 0.33981368],
       [0.97892001, 0.02107999],
       [0.98812496, 0.01187504],
       [0.9338168 , 0.0661832 ],
       [0.06189752, 0.93810248],
       [0.9985365 , 0.0014635 ],
       [0.99458442, 0.00541558],
       [0.98801519, 0.01198481],
       [0.09490702, 0.90509298],
       [0.99322321, 0.00677679],
       [0.99345493, 0.00654507],
       [0.95874874, 0.04125126],
       [0.94815671, 0.05184329],
       [0.9917643 , 0.0082357 ],
       [0.98506885, 0.01493115],
       [0.97612118, 0.02387882],
       [0.20269873, 0.79730127],
       [0.9876294 , 0.0123706 ],
       [0.99114874, 0.00885126],
       [0.98251269, 0.01748731],
       [0.99141719, 0.00858281],
       [0.8425041 , 0.1574959 ],
       [0.13410719, 0.86589281],
       [0.98777688, 0.01222312],
       [0.99408295, 0.00591705],
       [0.85619612, 0.14380388],
       [0.99180398, 0.00819602],
       [0.1669928 , 0.8330072 ],
       [0.99573097, 0.00426903],
       [0.99559155, 0.00440845],
       [0.99153705, 0.00846295],
       [0.61604868, 0.38395132],
       [0.9908978 , 0.0091022 ],
       [0.98423617, 0.01576383],
       [0.5271981 , 0.4728019 ],
       [0.03302484, 0.96697516],
       [0.97804376, 0.02195624],
       [0.99175235, 0.00824765],
       [0.99281205, 0.00718795],
       [0.98466161, 0.01533839],
       [0.78064184, 0.21935816],
       [0.59248624, 0.40751376],
       [0.99618688, 0.00381312],
       [0.99317256, 0.00682744],
       [0.98964734, 0.01035266],
       [0.99836683, 0.00163317],
       [0.19433641, 0.80566359],
       [0.98364237, 0.01635763],
       [0.99221662, 0.00778338],
       [0.99632768, 0.00367232],
       [0.11109872, 0.88890128],
       [0.99102755, 0.00897245],
       [0.99244824, 0.00755176],
       [0.99761351, 0.00238649],
       [0.98805995, 0.01194005],
       [0.99492799, 0.00507201],
       [0.97246184, 0.02753816],
       [0.82946143, 0.17053857],
       [0.99002336, 0.00997664],
       [0.66422148, 0.33577852],
       [0.23596888, 0.76403112],
       [0.98903867, 0.01096133],
       [0.99433721, 0.00566279],
       [0.98665121, 0.01334879],
       [0.95215749, 0.04784251],
       [0.98698754, 0.01301246],
       [0.8084661 , 0.1915339 ],
       [0.98534159, 0.01465841],
       [0.98413371, 0.01586629],
       [0.16191179, 0.83808821],
       [0.99800195, 0.00199805],
       [0.99612602, 0.00387398],
       [0.99803846, 0.00196154],
       [0.39367155, 0.60632845],
       [0.95170071, 0.04829929],
       [0.4209837 , 0.5790163 ],
       [0.93680476, 0.06319524],
       [0.98636016, 0.01363984],
       [0.99478195, 0.00521805],
       [0.99326922, 0.00673078],
       [0.98784774, 0.01215226],
       [0.9966183 , 0.0033817 ],
       [0.9961318 , 0.0038682 ],
       [0.81585258, 0.18414742],
       [0.05139046, 0.94860954],
       [0.99552517, 0.00447483],
       [0.07324166, 0.92675834],
       [0.9962065 , 0.0037935 ],
       [0.99155183, 0.00844817],
       [0.98034472, 0.01965528],
       [0.09798343, 0.90201657],
       [0.26061721, 0.73938279],
       [0.79967731, 0.20032269],
       [0.22000322, 0.77999678],
       [0.97837874, 0.02162126],
       [0.99084556, 0.00915444],
       [0.31512454, 0.68487546],
       [0.99483091, 0.00516909],
       [0.99365806, 0.00634194],
       [0.65724654, 0.34275346],
       [0.98642679, 0.01357321],
       [0.99603371, 0.00396629],
       [0.99067568, 0.00932432],
       [0.99670736, 0.00329264],
       [0.84503609, 0.15496391],
       [0.34129525, 0.65870475],
       [0.09917856, 0.90082144],
       [0.96382511, 0.03617489],
       [0.974955  , 0.025045  ],
       [0.99001642, 0.00998358],
       [0.25869441, 0.74130559],
       [0.86332122, 0.13667878],
       [0.36796324, 0.63203676],
       [0.09884666, 0.90115334],
       [0.93338727, 0.06661273],
       [0.99755638, 0.00244362],
       [0.98464757, 0.01535243],
       [0.98910377, 0.01089623],
       [0.99601339, 0.00398661],
       [0.45393083, 0.54606917],
       [0.10430163, 0.89569837],
       [0.73585372, 0.26414628],
       [0.99204516, 0.00795484],
       [0.99632427, 0.00367573],
       [0.05780604, 0.94219396],
       [0.99000658, 0.00999342],
       [0.92088211, 0.07911789],
       [0.99459894, 0.00540106],
       [0.80123604, 0.19876396],
       [0.99300181, 0.00699819],
       [0.11004112, 0.88995888],
       [0.48179054, 0.51820946],
       [0.45965361, 0.54034639],
       [0.40575425, 0.59424575],
       [0.99749291, 0.00250709],
       [0.99093676, 0.00906324],
       [0.14744294, 0.85255706],
       [0.99183935, 0.00816065],
       [0.99755555, 0.00244445],
       [0.94174684, 0.05825316],
       [0.66695629, 0.33304371],
       [0.20796511, 0.79203489],
       [0.99774264, 0.00225736],
       [0.119647  , 0.880353  ],
       [0.99799392, 0.00200608],
       [0.98649445, 0.01350555],
       [0.97689046, 0.02310954],
       [0.99582685, 0.00417315],
       [0.99170393, 0.00829607],
       [0.9941144 , 0.0058856 ],
       [0.98921817, 0.01078183],
       [0.99609185, 0.00390815],
       [0.96445063, 0.03554937],
       [0.2047161 , 0.7952839 ],
       [0.99122278, 0.00877722],
       [0.02050575, 0.97949425],
       [0.98857308, 0.01142692],
       [0.97986842, 0.02013158],
       [0.98817997, 0.01182003],
       [0.99317387, 0.00682613],
       [0.98252714, 0.01747286],
       [0.07100888, 0.92899112],
       [0.15710598, 0.84289402],
       [0.9983606 , 0.0016394 ],
       [0.98930039, 0.01069961],
       [0.9964007 , 0.0035993 ],
       [0.99727186, 0.00272814],
       [0.10707042, 0.89292958],
       [0.99369082, 0.00630918],
       [0.99250208, 0.00749792],
       [0.05665969, 0.94334031],
       [0.94373667, 0.05626333],
       [0.99537434, 0.00462566],
       [0.99432058, 0.00567942],
       [0.98389411, 0.01610589],
       [0.97335014, 0.02664986],
       [0.99627959, 0.00372041],
       [0.99594215, 0.00405785],
       [0.99648688, 0.00351312],
       [0.99629339, 0.00370661],
       [0.99712483, 0.00287517],
       [0.99038709, 0.00961291],
       [0.88598258, 0.11401742],
       [0.97868559, 0.02131441],
       [0.62812161, 0.37187839],
       [0.99823314, 0.00176686],
       [0.99357507, 0.00642493],
       [0.77914721, 0.22085279],
       [0.99093286, 0.00906714],
       [0.81783643, 0.18216357],
       [0.9851568 , 0.0148432 ],
       [0.94099863, 0.05900137],
       [0.97993525, 0.02006475],
       [0.19675129, 0.80324871],
       [0.98663568, 0.01336432],
       [0.98860326, 0.01139674],
       [0.01064542, 0.98935458],
       [0.99252895, 0.00747105],
       [0.9851823 , 0.0148177 ],
       [0.9794589 , 0.0205411 ],
       [0.99514049, 0.00485951],
       [0.99521225, 0.00478775],
       [0.27766252, 0.72233748],
       [0.04818595, 0.95181405],
       [0.99265046, 0.00734954],
       [0.99702461, 0.00297539],
       [0.99717149, 0.00282851],
       [0.99485221, 0.00514779],
       [0.78842405, 0.21157595],
       [0.99216285, 0.00783715],
       [0.98996941, 0.01003059],
       [0.9947155 , 0.0052845 ],
       [0.99104741, 0.00895259],
       [0.1191615 , 0.8808385 ],
       [0.99705091, 0.00294909],
       [0.98252329, 0.01747671],
       [0.99367037, 0.00632963],
       [0.98995074, 0.01004926],
       [0.45483812, 0.54516188],
       [0.12332265, 0.87667735],
       [0.07281368, 0.92718632],
       [0.99114363, 0.00885637],
       [0.99677541, 0.00322459],
       [0.99822371, 0.00177629],
       [0.79369735, 0.20630265],
       [0.97125324, 0.02874676],
       [0.11324677, 0.88675323],
       [0.98247071, 0.01752929],
       [0.05643645, 0.94356355],
       [0.98020688, 0.01979312],
       [0.41853293, 0.58146707],
       [0.99477969, 0.00522031],
       [0.9867809 , 0.0132191 ],
       [0.83845854, 0.16154146],
       [0.99041684, 0.00958316],
       [0.98470627, 0.01529373],
       [0.99349832, 0.00650168],
       [0.98953257, 0.01046743],
       [0.06819611, 0.93180389],
       [0.98727862, 0.01272138],
       [0.96853903, 0.03146097],
       [0.42895016, 0.57104984],
       [0.76454742, 0.23545258],
       [0.97091561, 0.02908439],
       [0.99195801, 0.00804199],
       [0.99323867, 0.00676133],
       [0.04029986, 0.95970014],
       [0.99759922, 0.00240078],
       [0.98322814, 0.01677186],
       [0.94920596, 0.05079404],
       [0.9893771 , 0.0106229 ],
       [0.41872458, 0.58127542],
       [0.77110922, 0.22889078],
       [0.99846683, 0.00153317],
       [0.21278767, 0.78721233],
       [0.98343549, 0.01656451],
       [0.33900177, 0.66099823],
       [0.03795479, 0.96204521],
       [0.95592315, 0.04407685],
       [0.11734235, 0.88265765],
       [0.96387886, 0.03612114],
       [0.99473435, 0.00526565],
       [0.5767097 , 0.4232903 ],
       [0.99352279, 0.00647721],
       [0.9920607 , 0.0079393 ],
       [0.99708371, 0.00291629],
       [0.99383106, 0.00616894],
       [0.99265119, 0.00734881]])

In [42]:
# 25.8%
train['fraud_reported'].mean()

0.25857142857142856

In [44]:
sum(y_pred) / 300

0.21333333333333335

In [49]:
y_pred[:, 1]

array([0.01965903, 0.77095894, 0.00438398, 0.04556745, 0.01252502,
       0.02549328, 0.00999481, 0.00518001, 0.00214924, 0.00790598,
       0.0208013 , 0.00868331, 0.44856143, 0.00268626, 0.00979009,
       0.76217288, 0.01321087, 0.02740135, 0.9566577 , 0.00860415,
       0.00986461, 0.0632509 , 0.89959676, 0.01318277, 0.02126869,
       0.91642182, 0.00527335, 0.01093646, 0.16822897, 0.01331745,
       0.91376122, 0.00428946, 0.33981368, 0.02107999, 0.01187504,
       0.0661832 , 0.93810248, 0.0014635 , 0.00541558, 0.01198481,
       0.90509298, 0.00677679, 0.00654507, 0.04125126, 0.05184329,
       0.0082357 , 0.01493115, 0.02387882, 0.79730127, 0.0123706 ,
       0.00885126, 0.01748731, 0.00858281, 0.1574959 , 0.86589281,
       0.01222312, 0.00591705, 0.14380388, 0.00819602, 0.8330072 ,
       0.00426903, 0.00440845, 0.00846295, 0.38395132, 0.0091022 ,
       0.01576383, 0.4728019 , 0.96697516, 0.02195624, 0.00824765,
       0.00718795, 0.01533839, 0.21935816, 0.40751376, 0.00381312,
       0.00682744, 0.01035266, 0.00163317, 0.80566359, 0.01635763,
       0.00778338, 0.00367232, 0.88890128, 0.00897245, 0.00755176,
       0.00238649, 0.01194005, 0.00507201, 0.02753816, 0.17053857,
       0.00997664, 0.33577852, 0.76403112, 0.01096133, 0.00566279,
       0.01334879, 0.04784251, 0.01301246, 0.1915339 , 0.01465841,
       0.01586629, 0.83808821, 0.00199805, 0.00387398, 0.00196154,
       0.60632845, 0.04829929, 0.5790163 , 0.06319524, 0.01363984,
       0.00521805, 0.00673078, 0.01215226, 0.0033817 , 0.0038682 ,
       0.18414742, 0.94860954, 0.00447483, 0.92675834, 0.0037935 ,
       0.00844817, 0.01965528, 0.90201657, 0.73938279, 0.20032269,
       0.77999678, 0.02162126, 0.00915444, 0.68487546, 0.00516909,
       0.00634194, 0.34275346, 0.01357321, 0.00396629, 0.00932432,
       0.00329264, 0.15496391, 0.65870475, 0.90082144, 0.03617489,
       0.025045  , 0.00998358, 0.74130559, 0.13667878, 0.63203676,
       0.90115334, 0.06661273, 0.00244362, 0.01535243, 0.01089623,
       0.00398661, 0.54606917, 0.89569837, 0.26414628, 0.00795484,
       0.00367573, 0.94219396, 0.00999342, 0.07911789, 0.00540106,
       0.19876396, 0.00699819, 0.88995888, 0.51820946, 0.54034639,
       0.59424575, 0.00250709, 0.00906324, 0.85255706, 0.00816065,
       0.00244445, 0.05825316, 0.33304371, 0.79203489, 0.00225736,
       0.880353  , 0.00200608, 0.01350555, 0.02310954, 0.00417315,
       0.00829607, 0.0058856 , 0.01078183, 0.00390815, 0.03554937,
       0.7952839 , 0.00877722, 0.97949425, 0.01142692, 0.02013158,
       0.01182003, 0.00682613, 0.01747286, 0.92899112, 0.84289402,
       0.0016394 , 0.01069961, 0.0035993 , 0.00272814, 0.89292958,
       0.00630918, 0.00749792, 0.94334031, 0.05626333, 0.00462566,
       0.00567942, 0.01610589, 0.02664986, 0.00372041, 0.00405785,
       0.00351312, 0.00370661, 0.00287517, 0.00961291, 0.11401742,
       0.02131441, 0.37187839, 0.00176686, 0.00642493, 0.22085279,
       0.00906714, 0.18216357, 0.0148432 , 0.05900137, 0.02006475,
       0.80324871, 0.01336432, 0.01139674, 0.98935458, 0.00747105,
       0.0148177 , 0.0205411 , 0.00485951, 0.00478775, 0.72233748,
       0.95181405, 0.00734954, 0.00297539, 0.00282851, 0.00514779,
       0.21157595, 0.00783715, 0.01003059, 0.0052845 , 0.00895259,
       0.8808385 , 0.00294909, 0.01747671, 0.00632963, 0.01004926,
       0.54516188, 0.87667735, 0.92718632, 0.00885637, 0.00322459,
       0.00177629, 0.20630265, 0.02874676, 0.88675323, 0.01752929,
       0.94356355, 0.01979312, 0.58146707, 0.00522031, 0.0132191 ,
       0.16154146, 0.00958316, 0.01529373, 0.00650168, 0.01046743,
       0.93180389, 0.01272138, 0.03146097, 0.57104984, 0.23545258,
       0.02908439, 0.00804199, 0.00676133, 0.95970014, 0.00240078,
       0.01677186, 0.05079404, 0.0106229 , 0.58127542, 0.22889078,
       0.00153317, 0.78721233, 0.01656451, 0.66099823, 0.96204521,
       0.04407685, 0.88265765, 0.03612114, 0.00526565, 0.4232903 ,
       0.00647721, 0.0079393 , 0.00291629, 0.00616894, 0.00734881])

In [50]:
result = pd.read_csv('./sampleSubmission.csv')
result['fraud_reported'] = y_pred[:, 1]
result.to_csv('./baseline2.csv', index=False)